@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

/* Header */
.headerStyle {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffffe3;
  font-family: 'Monsterrat', sans-serif;
}

.headerNavStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding-left: 30px;
}

.headerNavStyle a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  padding-top: 30px;
  color: black;
  cursor: pointer;
}

.headerNavStyle a:hover {
  text-decoration: #ffe100 5px underline !important;
  cursor: pointer;
}

.flex {
  display: flex;
}

.headerNavLi {
  margin: 32px;
  padding-top: 10px;
}

.headerNavLi a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-style: none;
  cursor: pointer;
}

.headerNavLi a:hover {
  font-style: italic;
  text-decoration: #ffe100 5px underline !important;
  cursor: pointer;
}

.headerNavLi button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
  font-style: none;
}

.headerNavLi button:hover {
  font-style: italic;
  text-decoration: #ffe100 5px underline !important;
}

/* Home */
.home {
  margin: 275px 50px 275px 50px;
  font-family: 'Darker Grotesque', sans-serif;
  height: 100%;
}

.welcome {
  font-size: 30px;
  margin-bottom: 50px;
}

.bounce h1 {
  font-size: 35px;
  font-style: italic;
  padding: 0px;
  font-weight: 100;
}

.bounce h2 {
  font-size: 25px;
  margin-bottom: 350px;
}

.word:hover {
background-color: #ffe100;
cursor: default;
}

/* About */
.about {
  margin: 200px 50px 150px 50px;
  font-family: 'Darker Grotesque', sans-serif;
  height: 100%;
}

.headerAbout {
  margin-bottom: 50px;
  font-weight: 200;
  text-decoration: #ffe100 5px underline;
}

.aboutMeLayout {
  display: flex;
  flex-direction: row;
  margin: 50px 0 0 0;
}

.icon {
  font-size: 100px;
  padding: 10px 0;
  margin: 0 0 50px 0;
  color: #d5d5d5;
}

.aboutMePara {
  padding: 10px 0;
  margin: 25px 10px 0 50px;
  font-size: 20px;
  line-height: 1.25;
}

.aboutMeSubHeader {
  font-size: 28px;
  font-weight: 200;
  margin: 50px 0 0 0;
}

.aboutMeUl {
  font-size: 20px;
  padding: 0px 20px;
}

.aboutMeUl li {
  line-height: 1.25;
}

/* Work */
.work {
  margin: 200px 50px 150px 50px;
  font-family: 'Darker Grotesque', sans-serif;
  height: 100%;
}

.headerWork {
  padding-bottom: 50px;
  font-weight: 200;
  text-decoration: #ffe100 5px underline;
}

.cardWork {
  display: flex;
  flex-direction: row;
  margin: 50px 0 0 0;
}

/* Project */
.projectCard {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
}

.projectCard img {
  width: 100%;
}

.projectTitle {
font-size: 30px;
font-weight: 500;
}

.projectA {
  font-size: 25px;
  color: black;
  padding: 10px;
}

.projectA:hover {
  font-size: 27px;
  color: black;
}

.para {
  font-size: 20px;
  line-height: 1.25;
  border-bottom: #000000 1px solid;
  padding: 10px 0 15px 0;
}

/* Contact */
.contact {
  margin: 200px 50px 150px 50px;
  font-family: 'Darker Grotesque', sans-serif;
  height: 100%;
}

.contact h2 {
  margin-bottom: 50px;
  text-decoration: #ffe100 5px underline;
}

.contactForm {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
}

.form label {
  font-size: 20px;
}

.contactButton {
  width: 100%;
  margin: 10px 0 100px 0;  
  text-decoration: none;
  text-align: center;
  background-color: #414141;
  border: #414141 5px solid;
  font-size: 20px;
  color: white;
  border-radius: 3px;
}

.contactButton:hover {
  background-color: black;
  border: black 5px solid;
}

/* Footer */
footer {
  padding: 0;
  font-size: 20px;
  width: 100%;
  background-color: #000000;
  margin-top: 50px;
}

.footerStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerStyle div {
  padding: 30px 50px 30px 50px;
}

.footerStyle div a {
  color: white;
  font-size: 30px;
}